@model vmOrders

@{
    ViewData["Title"] = "PaymentConfirm";
    Layout = "_Layout";
    using var cart = new z_sqlCarts();
    using var shipping = new z_sqlShippings();
    using var payment = new z_sqlPayments();

    var cartList = cart.GetDataList();
    var shippingList = shipping.GetDropDownList();
    var paymentList = payment.GetDropDownList();
    int cartAmount = cartList.Sum(m => m.OrderAmount);
    int cartFreight = (cartAmount > 0) ? 60 : 0;
    int cartTotal = cartAmount + cartFreight;
}

<main id="container">
    <div class="row wrapper">
        <div class="col-lg-12 d-flex justify-content-center">
            <!-- 確認結帳資訊 -->
            <div id="complete-order">
                <div class="row justify-content-center">
                    <div class="col-lg-9 col-md-12">
                        <div class="checkout-total">
                            <h3>訂單資訊</h3>
                            <form action="#" method="post">
                                <div class="table-responsive">
                                    <table class="checkout-area">
                                        <thead>
                                            <tr class="cart_item check-heading">
                                                <td class="ctg-type text-nowrap">品名</td>
                                                <td class="ctg-type text-nowrap">規格</td>
                                                <td class="cgt-des text-nowrap">數量</td>
                                                <td class="cgt-des text-nowrap">單價</td>
                                                <td class="cgt-des text-nowrap">金額</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in cartList)
                                            {
                                                <tr class="cart_item check-item prd-name">
                                                    <td class="ctg-type">@item.ProdName</td>
                                                    <td class="ctg-type">@item.ProdSpec</td>
                                                    <td class="cgt-des">@item.OrderQty</td>
                                                    <td class="cgt-des">$@item.OrderPrice</td>
                                                    <td class="cgt-des">$@item.OrderAmount</td>
                                                </tr>
                                            }
                                            <tr class="cart_item">
                                                <td class="ctg-type"></td>
                                                <td class="ctg-type"></td>
                                                <td class="ctg-type"></td>
                                                <td class="ctg-type text-nowrap">小計</td>
                                                <td class="cgt-des">$@cartAmount</td>
                                            </tr>
                                            <tr class="cart_item">
                                                <td class="ctg-type"></td>
                                                <td class="ctg-type"></td>
                                                <td class="ctg-type"></td>
                                                <td class="ctg-type text-nowrap">運費</td>
                                                <td class="cgt-des">$@cartFreight</td>
                                            </tr>
                                            <tr class="cart_item">
                                                <td class="ctg-type"></td>
                                                <td class="ctg-type"></td>
                                                <td class="ctg-type text-nowrap"></td>
                                                <td class="ctg-type crt-total text-nowrap">總計</td>
                                                <td class="cgt-des prc-total">$@cartTotal</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                        <div class="payment-section mt-20 clearfix">
                            <div class="pay-toggle">
                                @using (Html.BeginForm())
                                {
                                    <table>
                                        <tr>
                                            <td class="ne-2">付款方式：</td>
                                            <td>@Html.DropDownListFor(m => m.PaymentNo, paymentList,new {@class="pay-type"})</td>
                                        </tr>
                                        <tr>
                                            <td class="ne-2">出貨方式：</td>
                                            <td>@Html.DropDownListFor(m => m.ShippingNo, shippingList,new {@class="pay-type"})</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="submit" value="確認結帳" class="btn btn-secondary me-2"/>
                                            </td>
                                            <td>
                                                @Html.ActionLink("返回付款資訊", "Payment", "Cart",new {area = ""},new {@class="btn btn-secondary",@style="height: auto;"})     
                                            </td>
                                        </tr>
                                    </table>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section Styles {
    <!-- 依需要引用不同樣式表 -->
    <link rel="stylesheet" href="@Url.Content("~/lib/RewearFrontend/css/cart-payment.css")" />
}